{% extends "music/base.html" %}
{% block body %}
{% if all_album %}
{% for album in all_album %}

  <div class="col-sm-6 col-md-4">
    <div class="row container-thumbnail">
    <div class="thumbnail">
      <img src="{{album.album_logo.url}}" alt="" >
      <div class="caption">
        <h3>{{album.album_title}}</h3>
        <p>{{album.artist}}</p>
        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
        <form action="{% url 'music:album-delete' album.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="album_id" value="{{ album.id }}" />
          <button type="submit" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </form>
          <a href="#" class="btn btn-warning btn-favorite btn-sm" role="button">
            <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
          </a>
          <a href="{% url 'music:album-update' album.id %}" class="btn btn-primary btn-favorite btn-sm" role="button">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

      </div>
    </div>
  </div>
</div>

  {% endfor %}
  {% else %}
      <h3>You do not have any album!!!</h3>
  {% endif %}

  {% endblock %}












    {# <div class="col-xs-6 col-md-3">
    <div class="row">
      <a href="{% url 'music:detail' album.id %}" class="thumbnail">
        <img src="{{album.album_logo}}" alt="" style="width:250px">
      </a>


    </div>

  </div> #}
