body{
  background: white url('images/bg1.jpg');
}
.navbar{
  border-radius: 0;
}
.navbar-brand{
  font-family: 'Satisfy', cursive;
}
.container-thumbnail{
  width: auto;
  padding: 0 20px;
}
.thumbnail img {
  width: 300px;
  height: 300px;
}
